.app{
    white-space: nowrap;
    height: 100%;
}

.cardList{
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    height: 100%;
    width: 33%;
    padding: 0 20px;
    overflow: auto;
    &:not(:last-child)::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 99%;
        background: linear-gradient(to bottom, #eee 0%, #ccc 50%, #eee 100%) fixed;
    }
}

.card{
    position: relative;
    z-index: 1;
    background: #fff;
    width: 100%;
    padding: 10px 10px 10px 15px;
    margin: 0 0 10px 0;
    overflow: auto;
    border: 1px solid #e5e5df;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    
    &__title{
        font-weight: bold;
        border-bottom: 5px soli transparent;
        position: relative;        
        cursor: pointer;
        &::before{
            display: inline-block;
            font-family: "mastering-react";
            width: 1em;
            content: 'b';
            position: relative;
            top: 2px;
            margin-right: 5px;
        }
        
        &--is-open::before{
            display: inline-block;
            font-family: "mastering-react";
            width: 1em;
            content: 'c';
            position: relative;
            top: 2px;
            margin-right: 5px;
        }
    }
    
    .checklist__task{
        
        &:first-child{
            margin-top: 10px;
            padding-top: 10px;
            border: 1px dashed #ddd;
        }
        &--remove::after{
            font-family: "mastering-react";
            display: inline-block;
            color: #d66;
            content: 'e';
            margin-left: 20px;
            position: relative;
            top: 3px; 
        }
        
    }
}

.checklist--add-task{
    border: 1px dashed #bbb;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
}